<div class="search top-50 flex justify-center mb-50">
  <form
    action="/ad"
    method="POST"
    class="border-navbarbackground border-4 px-7 pt-4 pb-4 w-full sm:w-8/12 md:w-6/12 lg:w-8/12 rounded-lg bg-navbarhover"
  >
    <div class="grid grid-cols-1 gap-4">
      <div class="relative z-0 mb-5 group">
        <input
          type="text"
          id="brand"
          name="brand"
          required
          placeholder=" "
          class="input block py-2.5 px-0 w-full text-sm text-background bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-navbarborder peer"
        />
        <label
          for="brand"
          class="peer-focus:font-medium absolute text-sm text-background duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-navbarhoverborder peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Brand</label
        >
      </div>

      <div class="relative z-0 mb-5 group">
        <input
          type="text"
          id="city"
          name="city"
          required
          placeholder=" "
          class="input block py-2.5 px-0 w-full text-sm text-background bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-navbarborder peer"
        />
        <label
          for="city"
          class="peer-focus:font-medium absolute text-sm text-background duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-navbarhoverborder peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >City</label
        >
      </div>

      <div class="relative z-0 mb-5 group">
        <input
          type="text"
          id="price"
          name="price"
          required
          placeholder=" "
          class="input block py-2.5 px-0 w-full text-sm text-background bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-navbarborder peer"
        />
        <label
          for="price"
          class="peer-focus:font-medium absolute text-sm text-background duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-navbarhoverborder peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Price</label
        >
      </div>

      <div class="relative z-0 mb-5 group">
        <input
          type="date"
          id="date"
          name="date"
          required
          placeholder=" "
          class="input block py-2.5 px-0 w-full text-sm text-background bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-navbarborder peer"
        />
        <label
          for="date"
          class="peer-focus:font-medium absolute text-sm text-background duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-navbarhoverborder peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Date</label
        >
      </div>

      <div class="relative z-0 mb-5 group">
        <select
          id="fuel_type"
          name="fuel_type"
          required
          class="input bg-navbarborder mt-5 text-background text-sm rounded-lg block w-full p-2.5 focus:outline-none focus:ring-0 focus:border-navbarborder peer"
        >
          <option value="" disabled selected></option>
          <option value="diesel">Diesel</option>
          <option value="petrol">Petrol</option>
          <option value="electric">Electric</option>
          <option value="hybrid">Hybrid</option>
        </select>
        <label
          for="fuel_type"
          class="peer-focus:font-medium absolute text-sm text-background duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-navbarhoverborder peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Fuel Type</label
        >
      </div>

      <div class="relative z-0 mb-5 group">
        <select
          id="transmission"
          name="transmission"
          required
          class="input bg-navbarborder mt-5 text-background text-sm rounded-lg block w-full p-2.5 focus:outline-none focus:ring-0 focus:border-navbarborder peer"
        >
          <option value="" disabled selected></option>
          <option value="automatic">Automatic</option>
          <option value="manual">Manual</option>
        </select>
        <label
          for="transmission"
          class="peer-focus:font-medium absolute text-sm text-background duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-navbarhoverborder peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Transmission</label
        >
      </div>

      <div class="relative z-0 mb-5 group">
        <select
          id="car_condition"
          name="car_condition"
          required
          class="input bg-navbarborder mt-5 text-background text-sm rounded-lg block w-full p-2.5 focus:outline-none focus:ring-0 focus:border-navbarborder peer"
        >
          <option value="" disabled selected></option>
          <option value="new">New</option>
          <option value="used">Used</option>
        </select>
        <label
          for="car_condition"
          class="peer-focus:font-medium absolute text-sm text-background duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-navbarhoverborder peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Condition</label
        >
      </div>

      <div class="relative z-0 mb-5 group">
        <select
          id="body_type"
          name="body_type"
          required
          class="input bg-navbarborder mt-5 text-background text-sm rounded-lg block w-full p-2.5 focus:outline-none focus:ring-0 focus:border-navbarborder peer"
        >
          <option value="" disabled selected></option>
          <option value="sedan">Sedan</option>
          <option value="suv">SUV</option>
          <option value="hatchback">Hatchback</option>
          <option value="coupe">Coupe</option>
          <option value="convertible">Convertible</option>
          <option value="wagon">Wagon</option>
          <option value="van">Van</option>
          <option value="truck">Truck</option>
        </select>
        <label
          for="body_type"
          class="peer-focus:font-medium absolute text-sm text-background duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-navbarhoverborder peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Body Type</label
        >
      </div>

      <div class="relative z-0 mb-5 group">
        <select
          id="color"
          name="color"
          required
          class="input bg-navbarborder mt-5 text-background text-sm rounded-lg block w-full p-2.5 focus:outline-none focus:ring-0 focus:border-navbarborder peer"
        >
          <option value="" disabled selected></option>
          <option value="black">Black</option>
          <option value="white">White</option>
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="yellow">Yellow</option>
          <option value="orange">Orange</option>
          <option value="purple">Purple</option>
          <option value="pink">Pink</option>
          <option value="brown">Brown</option>
          <option value="gray">Gray</option>
          <option value="silver">Silver</option>
          <option value="gold">Gold</option>
        </select>
        <label
          for="color"
          class="peer-focus:font-medium absolute text-sm text-background duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-navbarhoverborder peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Color</label
        >
      </div>

      <div class="relative z-0 mb-5 group">
        <input
          type="number"
          id="kilometers"
          name="kilometers"
          required
          placeholder=" "
          class="input block py-2.5 px-0 w-full text-sm text-background bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-navbarborder peer"
        />
        <label
          for="kilometers"
          class="peer-focus:font-medium absolute text-sm text-background duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-navbarhoverborder peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Kilometers</label
        >
      </div>
    </div>

    <div class="flex justify-center mt-6">
      <button
        type="submit"
        class="text-background border border-navbarhoverborder hover:bg-background focus:ring-4 focus:outline-none hover:ring-navbarborder hover:text-navbarhover font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      >
        Create Advertisement
      </button>
    </div>
  </form>
</div>
