<div class="search"></div>
        <form action="/ad" method="POST">
          <div class="title">Add Advertisement</div>
          <input type="text" id="brand" name="brand" required class="input" placeholder="Brand" />

          <br />
          <input type="text" id="city" name="city" required class="input" placeholder="City" />

          <br />
          <input type="text" id="price" name="price" required class="input" placeholder="Price" />

          <br />
          <input type="date" id="date" name="date" required class="input" />
          <br />
          <button type="submit">Create Advertisement</button>
        </form>
</div>