<div class="bg-navbarbackground fixed w-full top-0 left-0 border-4 border-navbarborder rounded-xl z-50">
  <div class="flex items-center justify-between p-4">
    <!-- Logo and title -->
    <a href="/" class="flex items-center space-x-2">
      <img src="/icons/car-services.png" class="h-12" alt="CarBazaar Logo" />
      <span
        class="self-center text-3xl font-semibold text-background hover:text-navbarhoverborder duration-300 transition-colors"
        >CarBazaar</span
      >
    </a>
    </div>
  </div>
</div>
