<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="hidden" name="advertisementId" value="<%= advertisementId %>" />
  <label for="image">Image:</label>
  <input type="file" id="image" name="image" accept="image/*" required /><br />
  <button type="submit">Upload</button>
</form>
