<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="hidden" name="advertisementId" value="<%= advertisementId %>" />
  <label for="image">Image:</label>
  <input type="file" id="image" name="image" accept="image/*" required /><br />
  <button
    type="submit"
    class="mt-2 block border-2 border-transparent bg-navbarbackground hover:bg-navbarborder hover:border-2 hover:border-background hover:rounded-lg text-white px-4 py-2 rounded-md"
  >
    Upload
  </button>
</form>
