<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Page</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body>
    <div class="container mx-auto px-4 mt-8">
      <h1 class="text-3xl font-semibold text-center mb-4">Payment Page</h1>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
