<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Private Messages</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body class="bg-background font-Courier">
    <%- include('partials/headerBasic.ejs') %>
    <div class="container mx-auto px-4 mt-24 flex">
      <div class="w-1/4 bg-navbarbackground rounded-lg shadow-lg overflow-y-auto p-4 border-2 border-navbarborder">
        <h2 class="text-xl font-semibold mb-4">Users</h2>
        <div class="sidebar space-y-2" id="userList">
          <% users.forEach(user => { %>
          <button
            class="user-button text-background w-full text-left p-2 rounded-lg bg-navbarborder hover:bg-neutral-700 transition-colors duration-200"
            data-user-id="<%= user.user_id %>"
          >
            <%= user.username %>
          </button>
          <% }) %>
        </div>
      </div>

      <div class="main-content flex-1 flex flex-col border-2 border-navbarborder rounded-lg">
        <div id="conversation" class="flex-1 p-4 overflow-y-auto bg-white shadow-lg rounded-lg">
          <h2>Select a user to view the conversation</h2>
        </div>
        <div class="message-box p-4 bg-white shadow-lg border-t rounded-lg">
          <input
            type="text"
            id="messageInput"
            class="message-input mr-3 flex-1 p-2 border rounded-lg focus:outline-none focus:border-navbarborder focus:border-2"
            placeholder="Type your message here"
          />
          <button
            id="sendMessageButton"
            class="p-2 scale-110 duration-300 mt-3 border-2 border-transparent bg-navbarbackground hover:bg-navbarborder hover:border-2 hover:border-background hover:rounded-lg text-white px-4 py-2 rounded-md"
          >
            Send
          </button>
        </div>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>
    <script src="/js/privatemessages.js"></script>
  </body>
</html>
